<div class="container mt-4">
  <%= link_to root_path do %>
    <h4><i class="fa-solid fa-angle-left"></i>
      Dashboard</h4>
  <% end %>
  <h2 class="text-center">Suas Metas <i class="fa-regular fa-square-check"></i></h2>
  <div class="payment-section-header">
    <p class="text-center">Aqui estão algumas das suas metas!</p>
  </div>
</div>
<div class="container">
  <section class="payment-section">
    <% @goals.each do |goal| %>
      <div class="payments">
        <div class="payment">
          <div class="payment-details">
            <h2><%= goal.nome %></h2>
            <h3><%= goal.desc %></h3>
            <div>
              <span> R$ <%= goal.valor.to_f %></span>
              <span> <%= goal.tempo %></span>
              <%= link_to goal_path(goal), data: {turbo_method: :delete, turbo_confirm: "Marcar meta como concluída? Isso irá remover ela da sua lista!"} do %>
                <button class="icon-button">
                  <i class="ph-caret-right-bold"></i>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</div>
<div class="container text-center mt-3">
  <%= render "form", meta: @goal %>
</div>
